@page
@model LoginVivenda.Pages.Curriculo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Candidato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.CPF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.CPF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Civil)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Civil)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.LoadedFromDatabase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.LoadedFromDatabase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Telefone2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Telefone2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Nacionalidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Nacionalidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Deficiencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Deficiencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Qual)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Qual)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Objetivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Objetivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.Habilidades)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.Habilidades)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.CurriculoPdf)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.CurriculoPdf)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Candidato.CartaPDF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Candidato.CartaPDF)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Candidato?.Id">Edit</a> |
    <a asp-page="./Index">Voltar a lista</a>
</div>
