@page
@model LoginVivenda.Pages.Empresas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Telefone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa.Contato)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Contato)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empresa?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
