@page
@model LoginVivenda.Pages.Vagas.IndexModel

@{
    ViewData["Title"] = "Vagas";
}

<h1>Vagas</h1>

<p>
    <a asp-page="Create">Criar nova vaga</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vaga[0].Horario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vaga[0].Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vaga) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
